:where([qc-comp-id='weekdays']){
    display: flex;
    flex-wrap: nowrap;
    height: 10%;
}

:where([qc-comp-id='weekday']){
    flex: 0 0 14.2857%;
    overflow: hidden;
    margin-inline-end: 0px;
    padding: 0.5em;
}