#qwikCalendar{
    width: 350px;
    max-width: 100%;
    background: white;
    border: 1px solid #a0a096;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.125em;
}

#qwikCalendar button{
    margin: 0;
    border: 0;
    outline: none;
}


#qwikCalendar button:enabled:hover{
    background-color: #e6e6e6;
    cursor: pointer;
}

#qwikCalendar *{
    box-sizing: border-box;
}
