:where([qc-comp-id='calendar']) {
    aspect-ratio: 4/3;
    background: white;
    border: 1px solid #a0a096;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.125em;
}

:where([qc-comp-id='calendar']) button{
    margin: 0;
    border: 0;
    outline: none;
}


:where([qc-comp-id='calendar']) button:enabled:hover{
    background-color: #e6e6e6 !important;
    cursor: pointer;
}

:where([qc-comp-id='calendar']) *{
    box-sizing: border-box;
}

:where([qc-comp-id='tile']){
    padding: 2em 0.5em;
}
