:where([qc-comp-id='days-div']){
    display: flex;
    flex-wrap: wrap;
}

:where([qc-comp-id='day']), :where([qc-comp-id='prior-day']){
    flex: 0 0 14.2857%;
    overflow: hidden;
    margin-inline-end: 0px;
    
    max-width: 100%;
    padding: 10px 6.6667px;
    background: none;
    text-align: center;
    line-height: 16px;
}

:where([qc-comp-id='prior-day']){
    color: #757575;
}
